name: Make Video From Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install FFmpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg

    - name: Create video with zoom
      run: |
        ffmpeg -loop 1 -i myphoto.jpg -vf "zoompan=z='zoom+0.0015':d=250:s=1080x1920" -t 10 -r 25 -pix_fmt yuv420p output.mp4

    - name: Upload video
      uses: actions/upload-artifact@v3
      with:
        name: my-video
        path: output.mp4
